{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="justify-content: center; align-items: center;"> 
    <div>
        <h2 style="">Contact Us</h2>
        <p>Please fill the form below to contact us</p>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container" style="display: grid;">
        {{form}}
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
</div>
{% endblock content %}
